<h1>This is the site map</h1>
<p><a href="/aboutme">About Me!</a></p>
<p><a href="/welcome">Welome page!</a></p>
<p><a href="/work">My work!</a></p>
<p><a href="/resume">Resume!</a></p>
<p><a href="/news">News!</a></p>

<hr/>
Proper way to link
<%= link_to('welcome!', welcome_page_path) %>

<%= link_to(image_tag('kayak.jpg'), welcome_page_path) %>
