<h1>This is the site map</h1>
<p><a href="/aboutme">About Me!</a></p>
<p><a href="/welcome">Welome page!</a></p>
<p><a href="/work">My work!</a></p>
<p><a href="/resume">Resume!</a></p>
<p><a href="/news">News!</a></p>