
  <style type="text/css">
    img { 
    	width: 40px ;
    	height: 40px; }
  </style>


<h1>Aboutme#index</h1>
<p>Find me in app/views/aboutme/index.html.erb</p>
<ul>
  <li> My name is Mo </li>
  <li> I am old</li>
  <li> this is so amazing</li>
</ul>

<img src="http://photoeverywhere.co.uk/freeimages_inset/pics/053-operabridgesill3crop.jpg"/>
